@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.remove-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

body::-webkit-scrollbar {
    display: none; /* Firefox */
}

button {
    cursor: pointer;
}