@import 'tailwindcss';

.remove-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

body::-webkit-scrollbar {
    display: none; /* Firefox */
}

button {
    cursor: pointer;
}